# This file lists the requirements needed to develop on ga4gh/ga4gh-server.

# Include the requirements.txt file
-r requirements.txt -c constraints.txt

### This section is for dependencies of the libraries ###
# these libraries are the set listed by pipdeptree -f -w
# that are dependencies of libraries listed in the next section
# and are not already listed in requirements.txt

python-dateutil==2.5.1
PyYAML==3.11

### This section is for the actual libraries ###
# we import these libraries somewhere in the codebase but
# do not import them in any code that can be reached via 
# an executable that we ship

mock
nose
pep8
flake8==3.2.0
coverage

PyVCF==0.6.7
freezegun==0.3.6
guppy==0.1.10
snakefood==1.4
Sphinx==1.4.6
sphinx_rtd_theme

# Requirements for OIDC provider
pyaml==15.03.1
cherrypy==3.2.4
yubico-client==1.9.1
