# This file lists requirements needed to run the executables shipped
# by ga4gh/ga4gh-server.
#
# These requirements are read directly into setup.py, so specify them
# in the order that they should be in in setup.py

### This section is for dependencies of the libraries ###
# these libraries are the set listed by pipdeptree -f -w
# that are dependencies of libraries listed in the next section

# Adding the constraints.txt allows you to choose a specific 
# way to resolve our internal dependencies. During development,
# the constraints file will point at the current master branch 
# of the respective module.
ga4gh-common==0.0.7
ga4gh-schemas==0.6.0a10.post1
ga4gh-client==0.6.0a10

Werkzeug==0.11.5
MarkupSafe==0.23
itsdangerous==0.24
six==1.10.0
pycrypto==2.6.1
Mako==1.0.4
Beaker==1.8.0
funcsigs==0.4
alabaster==0.7.7
cryptography==1.3.1
idna==2.1
pyasn1==0.1.9
enum34==1.1.2
ipaddress==1.0.16
cffi==1.5.2
pycparser==2.14
Jinja2==2.7.3
future==0.15.2
pyjwkest==1.0.1
PyJWT==1.4.2
peewee==2.8.5

### This section is for the actual libraries ###
# these libraries are imported in code that can be reached via
# an executable that we ship

# Flask must come after all other requirements that have "flask" as a
# prefix due to a setuptools bug.
Flask-Cors==2.0.1
Flask==0.10.1
protobuf==3.1.0.post1
humanize==0.5.1
pysam==0.9.0
requests==2.7.0
oic==0.7.6
pyOpenSSL==0.15.1
lxml==3.4.4
pyBigWig==0.3.2

# We need sphinx-argparse to build on readthedocs.
sphinx-argparse==0.1.15

# G2P uses a ttl backend
RDFLib==4.2.1
